/*
 * Generado por gqlgenerate.
 * NO EDITES ESTOS ARCHIVOS, CORRES EL RIESGO DE PERDER LOS CAMBIOS
 * https://github.com/pjmd89/gogql
 */
package {{.PackageName}}

type {{$name := .Name}}{{.Name}} string

const(
    {{- range $key, $value := .Attr }}
    {{- if eq $key 0}}
    {{.Name}} {{$name}} = "{{.Value}}"
    {{- else }}
    {{.Name}} = "{{.Value}}"
    {{- end }}
    {{- end }}
)