/*
 * Generado por gqlgenerate.
 * NO EDITES ESTOS ARCHIVOS, CORRES EL RIESGO DE PERDER LOS CAMBIOS
 * https://github.com/pjmd89/gogql
 */
package {{.PackageName}}

import (
	"github.com/pjmd89/mongomodel/mongomodel"
	{{- if .IsUseID }}
    "go.mongodb.org/mongo-driver/bson/primitive"
    {{- end}}
)

type {{.Name}} struct{
    mongomodel.Model `bson:"-" gql:="omit=true"`
    {{- range $key, $value := .Attr }}
    {{ .Name }} {{.Type}} `bson:"{{.BSONTag}}" gql:"{{.GQLTag}}"`
    {{- end }}
}