package {{.PackageName}}

import (
	"github.com/pjmd89/mongomodel/mongomodel"
	{{- if .IsUseID}}
    "go.mongodb.org/mongo-driver/bson/primitive"
    {{- end}}
)

type {{.Name}} struct{
    mongomodel.Model `bson:"-"`
    {{- range $key, $value := .Attr }}
    {{ .Name }} {{.Type}} `bson:"{{.BSONTag}}" gql:"{{.GQLTag}}"`
    {{- end }}
}